* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
}
.logo {
  width: 170px;
  height: 50px;
  margin-left: 50px;
}
#header1 {
  position: relative;
  left: 130px;
}
.h1 {
  margin: 20px;
  font-size: 20px;
}

.h1:hover {
  margin: 20px;
  font-size: 20px;
  color: blue;
}
.callicon {
  width: 20px;
  position: relative;
  left: 420px;
}

.callicon1 {
  width: 30px;
  position: relative;
  left: 420px;
  top: -5px;
  font-size: larger;
}
.btn1:hover {
  background: #eaf8fe;
  color: black;
}

.btn1 {
  position: relative;
  left: 450px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: white;
  background: #125785;
  box-shadow: 6px 6px 0px rgba(112, 181, 229, 1);
}

#boxblue {
  width: 60vw;
  height: 120vh;
  background: #eaf8fe;
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 15px;
}
.box2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
#box2 {
  font-size: 17px;
  font-weight: 100;
  opacity: 0.5;
}
.text1 {
  position: absolute;
  top: 255px;
  margin-left: 40px;
}
.text3 {
  position: absolute;
  top: 370px;
  margin-left: 40px;
}
.text34 {
  margin-left: 37px;
  padding: 10px;
  display: flex;
  margin-top: 15px;
}

.text {
  width: 400px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
  /* display: flex; */
}
.text666 {
  width: 400px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
}
.text66 {
  position: absolute;
  top: 598px;
  margin-left: 40px;
}
.text33 {
  width: 845px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
}
.text23 {
  width: 500px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
}
  
.contact {
  width: 400px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
  /* display: flex; */
}
.contact66 {
  width: 400px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
}
.contact23 {
  width: 300px;
  padding: 20px;
  margin-left: 40px;
  font-size: 16px;
  border-radius: 12px;
  border: 0.1px solid #000;
  opacity: 0.9;
}
.chekbox00 {
  margin-left: 40px;
  margin-top: 30px;
}
.chekbox000 {
  margin-top: 12px;
  margin-left: 40px;
}
.btn00 {
  padding: 20px 40px;
  border-radius: 30px;
  background: #081a28;
  color: white;

  font-size: 18px;
}
.btn000 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn00:hover {
  background: transparent;
  color: black;
  transition: all 0.4s linear;
}



