.input {
  display: flex;
  justify-content: center;
  padding: 12px;
  gap: 12px;
}

button {
  padding: 12px;
  border-radius: 7px;
  border: 1px solid black;
}

.map{
display: flex; 
justify-content: center;
align-items: center;
}
